<div class="padded">
  <h5>{{@title}}</h5>
  <div>{{@description}}</div>

  <div>
    <button class="btn btn-warning btn-sm w-30" {{action "edit"}}>
      {{@editLabel}} </button>

    <button class="btn btn-success btn-sm w-30" {{action "viewMore"}}>
      {{@viewMoreLabel}}
    </button>
  </div>
  <hr>
</div>