<div class="padded">
  <h5>{{@title}}</h5>
  <div>{{line-clamp text= @description lines=2}}</div>

  <div>
    {{#if @secondaryLabel}}
      <button class="btn btn-warning btn-sm w-30" {{action "secondaryAction"}}>
        {{@secondaryLabel}} </button>
    {{/if}}
    {{#if @primaryLabel}}
      <button class="btn btn-success btn-sm w-30" {{action "primaryAction"}}>
        {{@primaryLabel}}
      </button>
    {{/if}}
  </div>
  <hr>
</div>