<br>
<div class="padded">
  <BsButton @type="primary" @icon="glyphicon glyphicon-download">
    CREATE H5P
  </BsButton>
</div>

<hr>
<div id="cms-desktop" class="padded">


  <div class="card cms-colum">




    <div class="card-header">
      <h5>Course</h5><button class="btn btn-primary btn-sm " {{action "toggleCourseModal"}}>+ Create Course </button>
    </div>
    <ul class="list-group list-group-flush">

      {{#each allCourses as |course|}}
        <CmsListItem @title={{course.name}} @description={{course.description}} @viewMoreLabel="See Modules"
          @viewMore={{action "selectCourse" course.slug }} @editLabel="See Modules"
          @edit={{action "selectCourse" course.slug}} />
      {{/each}} </ul>
    <div class="card-footer">

    </div>
  </div>


  <div class="card cms-colum">
    <div class="card-header">
      <h5>Module</h5><button class="btn btn-primary btn-sm " {{action "toggleModuleModal"}}>+ Create Module </button>
    </div>
    <div class="padded">
      {{!-- <BsAlert class="" @type="danger">
        Select a course to add modules to it
      </BsAlert> --}}
    </div>

    <ul class="list-group list-group-flush">
      {{#each selectedCourse.modules as |module|}}

        <CmsListItem @title={{module.name}} @description={{module.description}} @viewMoreLabel="See Modules"
          @viewMore={{action "selectModule" module.slug }} @editLabel="See Lessons"
          @edit={{action "selectModule" module.slug}} />

      {{/each}}
    </ul> <br>
    <div class="card-footer">
      <button class=" btn btn-primary btn-sm " {{action "toggleModuleModal"}}>
        + Add Module to {{selectedCourse.name}}
      </button>
    </div>
  </div>



  <div class="card cms-colum">
    <div class="card-header">
      <h5>Lesson</h5><button class="btn btn-primary btn-sm " {{action "toggleModuleModal"}}>+ Create Lesson </button>
    </div>
    <div class="padded">
      {{!-- <BsAlert class="" @type="danger">
        Select a course to add modules to it
      </BsAlert> --}}
    </div>

    <ul class="list-group list-group-flush">

      {{#each selectedModule.lessons as |lesson|}}

        <CmsListItem @title={{lesson.name}} @description={{lesson.description}} @viewMoreLabel="See Chapters"
          @viewMore={{action "selectLesson" lesson.slug }} @editLabel="See Chapters"
          @edit={{action "selectLesson" lesson.slug}} />

      {{/each}}
    </ul> <br>
    <div class="card-footer">
      <button class=" btn btn-primary btn-sm " {{action "toggleModuleModal"}}>
        + Add Lesson to {{selectedModule.name}}
      </button>
    </div>
  </div>


  <div class="card cms-colum">
    <div class="card-header">
      <h5>Chapter</h5>
      <button class="btn btn-primary btn-sm " {{action "toggleModuleModal"}}>
        + Create H5P Chapter
      </button>
    </div>
    <div class="padded">
      {{!-- <BsAlert class="" @type="danger">
        Select a course to add modules to it
      </BsAlert> --}}
    </div>

    <ul class="list-group list-group-flush">
      {{#each selectedLesson.chapters as |chapter|}}



        <CmsListItem @title={{chapter.name}} @description={{chapter.description}} @viewMoreLabel="See Modules"
          @viewMore={{action "selectCourse" chapter.slug }} @editLabel="See Modules"
          @edit={{action "selectCourse" chapter.slug}} />

      {{/each}}
    </ul> <br>
    <div class="card-footer">
      <button class=" btn btn-primary btn-sm " {{action "toggleModuleModal"}}>
        + Add H5P to {{selectedLesson.name}}
      </button>
    </div>
  </div>





  <BsModalSimple @open={{createCourseModal}} @title="Create Course" @closeTitle={{null}} @submitTitle="Publish Course"
    @size="" @closeButton={{true}} @fade={{true}} @backdrop={{true}} @backdropClose={{true}}
    @onSubmit={{action "saveCourse"}} @onHidden={{action "toggleCourseModal"}} @renderInPlace={{true}}>

    <BsForm @model={{coursemodel}} @onSubmit={{action "saveCourse"}} as |form|>
      <form.element @controlType="text" @label="Course Title" @property="name" />
      <form.element @controlType="text" @label="Course Description" @property="description" />
      <BsButton @type="primary" @defaultText="Save Course" @buttonType="submit" />


    </BsForm>
  </BsModalSimple>

  <BsModalSimple @open={{createModuleModal}} @title="Simple Modal" @closeTitle="Ok" @submitTitle={{null}} @size=""
    @closeButton={{true}} @fade={{true}} @backdrop={{true}} @backdropClose={{true}} @onSubmit={{action "submit"}}
    @onHidden={{action "toggleModuleModal"}} @renderInPlace={{true}}>
    <BsForm @model={{modulemodel}} class="padded" @onSubmit={{action "saveModule"}} as |form|>
      <form.element @controlType="text" @label="Module Title" @property="name" />
      <form.element @controlType="text" @label="Module Description" @property="description" />
      {{#if selectedCourse.name}}
        <form.element @controlType="checkbox" @label="Add this module to {{this.selectedCourse.name}}" @property="x" />

      {{/if}}
      <BsButton @type="primary" @defaultText="Save Module" @buttonType="submit" />



    </BsForm>
  </BsModalSimple>





</div>