{{outlet}}
{{!-- {{outlet}} --}}
<div id="courses">
  {{!-- <div class="heading bg-yellow">

    <h2>{{model.name}}</h2>

    <p> {{model.description}}</p>
  </div> --}}


  <div class="padded modules ">


    {{!-- <div class="d-flex  justify-content-between align-content-start flex-wrap"> --}}
    <div class="d-flex align-content-around flex-wrap  ">
      {{#each model as |item|}}
        <H5pItem @name="{{item.name}}" @description={{item.description}} @id={{item.id}} />
      {{/each}}

      {{!-- <H5pItem @name="How to cook Chapatis" />
      <H5pItem @name="Deleting your facebook" />
      <H5pItem @name="Deleting your facebook" />
      <H5pItem @name="Deleting your facebook" />
      <H5pItem @name="How to spot fake news" /> --}}
      {{!-- <LessonItem @lesson={{lesson}} /> --}}


    </div>
  </div>

</div>